<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!!workout && !!movements">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workout</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToPrevious()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToNext()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{today}}</ion-title>
  </ion-toolbar>

  <ngb-accordion *ngIf="movements.length > 0" [closeOthers]="true">
    <ngb-panel *ngFor="let movement of movements; let i = index">
      <ng-template ngbPanelTitle>
        <span>{{ movement.name }}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
        tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
        Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
        accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</ion-content>